body {
    font-size: 15px;
}

button{
    background: #ffc600;    
    border: 0;
    padding: 10px 20px;
}

img{
    max-width: 100%;
}

/* wrapper */
.wrapper{
    display: grid;
    grid-gap: 20px;
}

.top{
    display: grid;
    grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2"
}

.hero{
    grid-area: hero;
    min-height: 400px;
    background: white url('images/taco.jpg');
    background-size: cover;
    background-position: bottom right;
    padding: 50px;
    /* display: grid;
    justify-content: start;
    align-content: center; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero>*{
    background: var(--yellow);
}

.cta{
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta p{
    margin: 0;
}
.cta1{
    grid-area: cta1;
}

.price {
    font-size: 60px;
    font-weight: 400;
}


/* navigation */

.menu ul{
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a{
    background: var(--yellow);
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 15px;
}

[aria-controls="menu-list"]{
    display: none;
}

.features{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature{
    background: white;
    padding: 10px;
    border: solid white;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.feature icon{
    font-size: 50px;
}
.feature p{
    color: rgba(0,0,0,0.5);
}

.about {
    background: white;
    padding: 50px;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;

    
}

/* gallery */
.gallery{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.gallery img{
    width: 100%;
}

.gallery h2{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 20px;
}

.gallery h2:before, .gallery h2:after{
    display: block;
    content: "";
    height: 10px;
    background: #ffc600;
    background:linear-gradient(to left, var(--yellow), transparent);
}

.gallery h2:after{
    background:linear-gradient(to right, var(--yellow), transparent);

}

@media (max-width: 1000px){
    .menu{
        order: -1;
        /* wrppaer display grid 이므로 가능 */
        perspective: 800px;
    }
    [aria-controls="menu-list"]{
        display: block;
        margin-bottom: 10px;
    }
    .menu ul{
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }
    [aria-expanded = "true"] ~ ul{
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
    }
    [aria-expanded = "false"] .close{
        display: none;
    }
    [aria-expanded = "true"] .close{
        display: inline-block;
    }
    [aria-expanded = "true"] .open{
        display: none;
    }
}

@media (max-width: 700px){
    .top{
        grid-template-areas: 
        "hero hero"
        "cta1 cta2";
    }
    /* about */
    .about{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px){
    .top{
        grid-template-areas: 
        "hero"
        "cta1"
        "cta2";
    }
}